<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Application Insights Core API.  -->
    <package id="Microsoft.ApplicationInsights" version="2.3.0" />

        <!-- Windows Server nuget package provides automatic collection of application insights telemetry for .NET applications. -->
    <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.3.0" />
    
    <!-- enables Interception of method calls -->
    <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.0.7" />

    <!-- provides automatic collection of dependency telemetry for .NET applications.  -->
    <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.3.0" />
    
    <!-- Application Insights Performance Counters Collector allows you to send data collected by Performance Counters to Application Insights  -->
    <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.3.0" />

    <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.3.0" />
</packages>
